# Drizzle
DATABASE_URL=postgresql://user:password@localhost:5432/tawasol

ORIGIN=""

# Better Auth
# For production use 32 characters and generated with high entropy
# https://www.better-auth.com/docs/installation
BETTER_AUTH_SECRET=""
